<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">아이디 찾기</h1>
        <form id="findIdForm" th:action="@{/user/findidpro}" method="post" onsubmit="phoneNum()">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-group">
                <label for="realName">이름</label>
                <input type="text" class="form-control" id="realName" name="realName" placeholder="이름을 입력하세요" required>
            </div>
			<div class="form-group">
				<label for="email">이메일 주소</label> <input type="email"
					class="form-control" id="email" name="email"
					placeholder="이메일을 입력하세요" required>
			</div>
			<div class="form-group">
				<input type="hidden" id="phone" name="phone">
				<label for="phone">*전화번호</label>
				<div class=" d-flex justify-content-start">
					<input type="text" class="form-control col1" id="phone1" name="phone1" required>- 
					<input type="text" class="form-control col2" id="phone2" name="phone2" required>-
					<input type="text" class="form-control col3" id="phone3" name="phone3" required>
				</div>
			</div>
			<div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">아이디 찾기</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    	<script>
        function phoneNum(){
	        var phone1= document.getElementById("phone1").value;
	        var phone2= document.getElementById("phone2").value;
	        var phone3= document.getElementById("phone3").value;
	        var phone = phone1+"-"+phone2+"-"+phone3;
	        document.getElementById("phone").value = phone;
        }
        </script>
    <script>
        document.getElementById('findIdForm').addEventListener('submit', function(event) {
            const realName = document.getElementById('realName').value.trim();
            const email = document.getElementById('email').value.trim();
            const phone = document.getElementById('phone').value.trim();

            if (!realName || !email || !phone) {
                alert("정보를 확인해주세요");
                event.preventDefault(); // 폼 제출 막기
            }
        });
    </script>

</body>
</html>
