<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">

<!--   -->
	<h2>주문 상세 정보</h2>
    <div th:if="${delivery != null}">
        <div>
			<p><span th:text="${#temporals.format(delivery.order[0].orderTime, 'yyyy-MM-dd HH:mm')}"></span> 
			주문 번호: <span th:text="${delivery.id}"></span></p>
        </div><br>
            
        <h4>주문 상품 목록</h4><hr>
        <table border="1">
            <thead>
                <tr>
                    <th>상품사진</th>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>판매가</th>
                </tr>
            </thead>
            <tbody>
            	<input id="point" type="hidden" th:value="${delivery.usePoint}"/>
                <tr th:each="order,loop : ${delivery.order}">
                    <td><img th:src="|/file/display?folder=thumbnails&filename=${order.product.thumbnail[0].sysname}|" style="max-width: 100px;"></td>
                    <td th:text="${order.product.name}"></td>
                    <td th:id="|quantity_${loop.index}|" th:text="${order.quantity}"></td>
                    <td th:id="|payPrice_${loop.index}|" th:text="${order.product.sellPrice*(1-order.product.discount/100)}"></td>
                	<input th:id="|sellPrice_${loop.index}|" type="hidden" th:value="${order.product.sellPrice}" readonly/>
                    <input th:id="|discount_${loop.index}|" type="hidden" th:value="${order.product.sellPrice * (order.product.discount / 100)}" readonly/>
                </tr>
            </tbody>
        </table><br><br>
        
         <h4>받는사람 정보</h4><hr>
        <table border="1">
			<tr><td>받으시는분: </td> <td th:text="${delivery.receiveName}"></td></td></tr>
			<tr><td> 주소: </td> <td th:text="'('+${delivery.receivePostcode}+') '
											+${delivery.receiveAddress}+' '
											+${delivery.receiveDetailAddress}
											+${delivery.receiveExtraAddress}"></td></td></tr>
			<tr><td>전화번호: </td> <td th:text="${delivery.receivePhone}"></td></td></tr>
        	<tr><td>배송메세지: </td> <td th:text="${delivery.memo}"></td></td></tr>
        </table><br><br>
        
        <h4>결제 정보</h4><hr>
        <table border="1">
		    <tr><td>결제수단: </td><td th:text="|카카오 페이|"></td></tr>
		    <tr><td>총 상품금액: </td><td><span id="sellPrice"></span></td></tr>
		    <tr><td>총 할인금액: </td><td><span id="discount"></span></td></tr>
		    <tr><td>사용 포인트: </td><td><span id="usePoint" th:text="${#numbers.formatDecimal(delivery.usePoint, 0, 'COMMA', 3, 'POINT').replace('.000', '')} + ' 원'"></span></td></tr>
		    <tr><td>총 결제금액: </td><td><span id="payPrice"></span></td></tr>
		</table>
    <input type="hidden" th:value="${#lists.size(delivery.order)}" id="size">
    </div>

    <div th:if="${delivery == null}">
        <p>주문 상세 정보를 찾을 수 없습니다.</p>
    </div>
</div>

<th:block layout:fragment="script">
	<script>
	// 금액 총합 계산
	var size = document.getElementById('size').value;
var sumSellPrice = 0;
var sumDiscount = 0;
var usePoint = document.getElementById('point').value;
for (var i = 0; i < size; i++) {
    var quantity = document.getElementById('quantity_'+i).textContent || 0;
    var sellPrice = parseFloat(document.querySelector('#sellPrice_' + i).value) || 0;
    var discount = parseFloat(document.querySelector('#discount_' + i).value) || 0;
    
    sumSellPrice += sellPrice * quantity;
    sumDiscount += discount * quantity;
}
document.querySelector('#sellPrice').textContent = sumSellPrice.toLocaleString() + " 원";
document.querySelector('#discount').textContent = sumDiscount.toLocaleString() + " 원";
document.querySelector('#payPrice').textContent = (sumSellPrice - sumDiscount - usePoint).toLocaleString() + " 원";
	
   </script>
</th:block>
</html>