<!DOCTYPE html>
<html layout:decorate="~{layout}">
    <div class="container my-3" layout:fragment="content">
        <div class="container mt-5">
            <h2 class="mb-4">마이페이지</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card user-info-card">
                        <div class="card-header bg-primary text-white">
                            사용자 정보
                        </div>
                        <div class="card-body bg-white text-dark">
                            <p><strong>아이디:</strong> <span th:text="${user.username}"></span></p>
                            <p><strong>이메일:</strong> <span th:text="${user.email}"></span></p>
                            <p><strong>가입 날짜:</strong> <span th:text="${#temporals.format(user.reg, 'yyyy-MM-dd HH:mm')}"></span></p>
                            <p><strong>이름:</strong> <span th:text="${user.realName}"></span></p>
                            <p><strong>주소:</strong> <span th:text="${user.address}"></span></p>
                            <p><strong>상세 주소:</strong> <span th:text="${user.detailAddress}"></span></p>
                            <p><strong>전화번호:</strong> <span th:text="${user.phone}"></span></p>
                            <p><strong>등급:</strong> <span th:text="${user.grade}"></span></p>
                            <p><strong>포인트:</strong> <span th:text="${user.point}"></span></p>
                            <a th:href="@{/user/userUpdateForm}" class="btn btn-primary mt-3">회원정보 변경</a>
                               <!-- 회원탈퇴 버튼 추가 -->
		                    <form th:action="@{/user/deleteAccount}" method="post" onsubmit="return confirm('정말로 탈퇴하시겠습니까?');">
		                        <button type="submit" class="btn btn-danger mt-3">회원탈퇴</button>
		                    </form>                      
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- 주문 내역 카드 -->
					<div class="card order-history-card">
					    <a class="card-header bg-primary text-white text-decoration-none" href="/product/simplePayResult" style="text-decoration: none;">
					        주문 내역
					    </a>
					    <div class="card-body bg-white text-dark">
					        <div th:if="${user.delivery != null and !#lists.isEmpty(user.delivery)}">
					            <table class="table table-bordered">
					                <thead>
					                    <tr>
					                        <th>주문 ID</th>
					                        <th>상품명</th>
					                        <th>주문 날짜</th>
					                        <th>상태</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr th:each="order : ${myOrder}">
					                    	<td th:text="${order.id}"></td>
					                    	<td th:text="${order.product.name}"></td>
					                    	<td th:text="${#temporals.format(order.orderTime, 'yyyy-MM-dd HH:mm')}"></td>
					                    	<td th:text="${order.situation}"></td>
					                    </tr>
					                </tbody>
					            </table>
					        </div>
					    </div>
					</div>

                    <!-- 작성한 리뷰 카드 -->
                    <div class="card review-card">
                        <div class="card-header bg-primary text-white">
                            <a href="/user/allReview" class="text-white">작성한 리뷰</a>
                        </div>
                        <div class="card-body bg-white text-dark">
                            <div th:if="${myReview != null and !#lists.isEmpty(myReview)}">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>리뷰 ID</th>
                                            <th>상품명</th>
                                            <th>리뷰 내용</th>
                                            <th>작성 날짜</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="review : ${myReview}">
                                            <td th:text="${review.id}"></td>
                                            <td>
                                            	<a th:text="${review.product.name}" th:href="@{|/product/detail/${review.product.id}|}"></a>
                                            </td>
                                            <td th:text="${review.content}"></td>
                                            <td th:text="${#temporals.format(review.writeDate, 'yyyy-MM-dd HH:mm')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${user.review == null and #lists.isEmpty(user.review)}">
                                <p>작성한 리뷰가 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <!-- 찜 목록 카드 -->
                    <div class="card wishlist-card">
                        <div class="card-header bg-primary text-white">
                        	<a th:href="@{/product/wishlist}" class="text-white">관심 상품</a>
                        </div>
                        <div class="card-body bg-white text-dark">
                            <div th:if="${myWishList != null and !#lists.isEmpty(myWishList)}">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>상품사진</th>
                                            <th>상품명</th>
                                            <th>가격</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="wish : ${myWishList}">
                                            <td><img th:src="|/file/display?folder=thumbnails&filename=${wish.thumbnail[0].sysname}|" style="max-width: 100px;"></td>
                                            <td th:text="${wish.name}"></td>
                                            <td th:text="${wish.sellPrice}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${user.wishList == null or #lists.isEmpty(user.wishList)}">
                                <p>찜한 상품이 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <!-- 내 문의 목록 카드 -->
                    <div class="card inquiry-card">
                        <div class="card-header bg-primary text-white">
                            내 문의 목록
                        </div>
                        <div class="card-body bg-white text-dark">
                            <div th:if="${questionList != null and !#lists.isEmpty(questionList)}">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>제목</th>
                                            <th>작성일</th>
                                            <th>상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="question : ${questionList}">
                                            <td>
                                                <a th:href="@{/question/detail/{id}(id=${question.id})}" class="text-dark" th:text="${question.title}"></a>
                                            </td>
                                            <td th:text="${#temporals.format(question.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                                            <td th:text="${question.answer != null ? '답변 완료' : '답변 대기'}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${questionList == null or #lists.isEmpty(questionList)}">
                                <p>작성한 문의가 없습니다.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         </div>
    </div>
</body>
</html>
