<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
	<div class="container-fluid">
		<div class="d-flex justify-content-between w-100">
			<div class="d-flex justify-content-start">
				<a class="navbar-brand" href="/">
					<img src="#" width="50px">
				</a>
				<form th:action="@{/product/search}" method="post">
					<div class="input-group mb-2 mt-2">
						<input type="text" name="kw" class="form-control">
						<input type="submit" value="검색" class="btn btn-outline-light">
					</div>
				</form>
				<a class="btn btn-dark d-flex align-items-center justify-content-center text-center" 
					sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/main}" style="font-size:23px;">관리자
				</a>
			</div>
			<div class="d-flex justify-content-end">
				<a class="btn btn-dark d-flex align-items-center justify-content-center text-center" th:href="@{/user/userinfo}"
					sec:authorize="isAuthenticated()" sec:authentication="name" style="font-size:23px;"></a>
				<a class="btn btn-dark d-flex align-items-center justify-content-center text-center" 
					th:href="@{/user/login}" sec:authorize="isAnonymous()" style="font-size:23px;">로그인
				</a>
				<a class="btn btn-dark d-flex align-items-center justify-content-center text-center" 
					th:href="@{/user/logout}" sec:authorize="isAuthenticated()" style="font-size:23px;">로그아웃
				</a>
			</div>
		</div>
	</div>
</nav>
