<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
	<div class="container my-3" layout:fragment="content">
		<div class="row justify-content-start" style="width: 1400px;">
			<div class="text-center d-flex flex-wrap m-2 btn btn-outline-dark justify-content-center" th:if="${productList != null}" th:each="product, loop : ${productList}">
				<div th:data-num="${product.id}" class="product-container" style="width: 250px; height: 200px;" th:onclick="|location.href='@{|/product/detail/${product.id}|}'|">
					<div class="image-container  text-center" style="height:150px;">
						<img th:if="${product.thumbnail.size() > 0}" th:id="|images_${product.id}|" src="" alt="Product Image" class="pt-1 img-fluid" style="max-width: 150px; max-height: 150px;">
					</div>
					<div class="text-center">
						<span th:if="${product.stock == 0}" class="text-danger" th:text="|[매진]|"></span>
						<span th:text="${product.name}" class="text-dark link-offset-2 link-underline link-underline-opacity-0"></span>
						<div>
							<span th:if="${product.discount == 0}" th:text="${#numbers.formatDecimal(product.sellPrice, 0, 'COMMA', 3, 'POINT').replace('.000', '')} + '원'"></span>
							<span th:unless="${product.discount == 0}" th:text="${#numbers.formatDecimal(product.sellPrice * (100-product.discount)/100, 0, 'COMMA', 3, 'POINT').replace('.000', '')} + '원'"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${!productList.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!productList.hasPrevious}?'disabled'">
					<a class="page-link text-dark" href="javascript:void(0)" th:data-page="1" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item" th:classappend="${!productList.hasPrevious}?'disabled'">
					<a class="page-link text-dark" href="javascript:void(0)" th:data-page="${productList.number}" aria-label="Previous">
						<span aria-hidden="true" th:text="'<'"></span>
					</a>
				</li>
				<li class="page-item" th:each="page : ${#numbers.sequence(1,productList.totalPages)}" th:if="${page >= productList.number-4 and page <= productList.number+6}" th:classappend="${page == productList.number+1} ? 'disabled'">
					<a class="page-link text-dark" href="javascript:void(0)" th:data-page="${page}" th:text="${page}"></a>
				</li>
				<li class="page-item" th:classappend="${!productList.hasNext}?'disabled'">
					<a class="page-link text-dark" href="javascript:void(0)" th:data-page="${productList.number+2}" aria-label="Next">
						<span aria-hidden="true" th:text="'>'"></span>
					</a>
				</li>
				<li class="page-item" th:classappend="${!productList.hasNext}?'disabled'">
					<a class="page-link text-dark" href="javascript:void(0)" th:data-page="${productList.totalPages}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>
		
		<form th:action="@{|/product/list/${productType}|}" method="get" id="listNumber">
			<input type="hidden" id="page" name="page" th:value="${productList.number}" th:if="${productList != null}">
		</form>
	</div>

	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function() {
				let imageLists = {};
				
				function fetchImageList(num) {
					$.ajax({
						url: "/file/list/" + num,
						success: function(data) {
							console.log("Fetched image list for product " + num, data);
							imageLists[num] = {
								list: data,
								index: 0
							};
							if (data.length > 0) {
								displayNextImage(num);
							}
						},
						error: function(err) {
							console.error("Error fetching image list for product " + num, err);
						}
					});
				}
				
				function displayNextImage(num) {
					if (imageLists[num] && imageLists[num].list.length > 0) {
						let currentImageList = imageLists[num];
						let imageUrl = '/file/display?folder=thumbnails&filename=' + currentImageList.list[currentImageList.index] + '&' + new Date().getTime();
						$("#images_" + num).attr("src", imageUrl);
						currentImageList.index = (currentImageList.index + 1) % currentImageList.list.length;
					}
				}
				
				$('.product-container').each(function() {
					let num = $(this).data('num');
					if (num) {
						fetchImageList(num);
						setInterval(() => displayNextImage(num), 2000); // 2초마다 이미지 변경
					}
				});

				$('.page-link').click(function() {
					let page = $(this).data('page');
					$('#page').val(page);
					$('#listNumber').submit();
				});
			});
		</script>
	</th:block>
</html>
