<!DOCTYPE html> 
<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">
	<div th:if="${user.delivery != null}">
     	<h2 th:text="${#lists.size(user.delivery)}"></h2>
     	
			<table class="table table-bordered" th:each="delivery : ${user.delivery}" th:if="${user.delivery != null}">
				<p th:text="${#temporals.format(delivery.order[0].orderTime,'yyyy-MM-dd HH:mm')}"></p>
				<thead>
					<tr>
						<th>상품사진</th>
						<th>상품명</th>
						<th>주문 날짜</th>
						<th>상태</th>
					</tr>
				</thead>
				<tbody>
					<a th:href="@{|/product/fullPayResult?deliveryId=${delivery.id}|}">주문 상세</a>
					<tr th:each="order : ${delivery.order}">
						<td><img th:src="|/file/display?folder=thumbnails&filename=${order.product.thumbnail[0].sysname}|" style="max-width: 100px;"></td>
						<td>
							<a th:href="@{|/product/detail/${order.product.id}|}" th:text="${order.product.name}" class="text-dark"></a>
						</td>
						<td th:text="${#temporals.format(order.orderTime, 'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${order.situation}"></td>
					</tr>
				</tbody>
			</table>
			
			<br><hr><br>

		<div th:if="${user.delivery == null or #lists.isEmpty(user.delivery)}">
			<p>주문 내역이 없습니다.</p>
		</div>
	</div>
    <br/>
    <a href="/">메인으로</a>
</div>
<th:block layout:fragment="script">

	<script>
	
		<!-- 스크 립트 -->
	
   </script>


</th:block>
</html>