<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center text-primary">회원 정보</h1>
        <form id="userInfoForm" class="mt-4">
            <div class="form-group">
                <label for="username">사용자 이름</label>
                <input type="text" class="form-control" id="username" name="username" th:value="${userDTO.username}" readonly>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" th:value="${userDTO.password}" readonly>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" th:value="${userDTO.email}" readonly>
            </div>
            <div class="form-group">
                <label for="realName">이름</label>
                <input type="text" class="form-control" id="realName" name="realName" th:value="${userDTO.realName}" readonly>
            </div>
            <div class="form-group">
                <label for="address">주소</label>
                <input type="text" class="form-control" id="address" name="adress" th:value="${userDTO.adress}" readonly>
            </div>
            <div class="form-group">
                <label for="phone">전화번호</label>
                <input type="text" class="form-control" id="phone" name="phone" th:value="${userDTO.phone}" readonly>
            </div>
        </form>
    </div>

</div>
</html>
